<h2>Tickets</h2>

<div class="main-container" *ngIf="(ticketsQuery.loadingState$ | async) === 'ok'">
    <div class="tickets-list-container">
        <mat-form-field appearance="standard" style="width: 100%">
            <mat-label>Filter</mat-label>
            <input matInput [value]="ticketsQuery.filter$ | async" (input)="onFilterInputChange($event)">
        </mat-form-field>
        <div>
            <app-ticket-item *ngFor="let ticket of (ticketsQuery.filteredTickets$ | async)"
                             [ticket]="ticket"
                             [class.ticket-selected]="ticket.id === (ticketsQuery.currentTicketId$ | async)"
                             (click)="onTicketClicked(ticket)"></app-ticket-item>
        </div>
        <div class="add-ticket-container">
            <mat-form-field appearance="fill">
                <mat-label>Add ticket</mat-label>
                <input matInput [(ngModel)]="addTicketValue" [disabled]="ticketsQuery.isAddingTicket$ | async">
            </mat-form-field>
            <button mat-flat-button color="primary" [disabled]="(ticketsQuery.isAddingTicket$ | async) || !addTicketValue" (click)="addTicket()">ADD</button>
        </div>
    </div>
    <div *ngIf="(ticketsQuery.currentTicketUser$ | async) as ticketUser" class="ticket-detail-container">
        <app-ticket-detail [ticketUser]="ticketUser"></app-ticket-detail>
    </div>
</div>
<div *ngIf="(ticketsQuery.loadingState$ | async) === 'error'">
    Something went wrong...
</div>
