:host {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 32px 16px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 992px) {
    max-width: 1160px;
  }


  .main-container {
    display: flex;
  }

  .tickets-list-container, .ticket-detail-container {
    flex: 1;
  }

  .tickets-list-container {
    margin-right: 32px;
  }

  .add-ticket-container {
    display: flex;
    margin-top: 16px;
    width: 100%;

    .mat-form-field {
      flex: 1;
      margin-right: 8px;
    }

    button {
      width: 96px;
      // same as input (TODO: find a better way to do this)
      margin-bottom: 1.34375em;
    }
  }

  app-ticket-item {


    &:hover {
      cursor: pointer;
      background-color: #efefef;
    }

    &.ticket-selected {
      background-color: #dedede;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #e0e0e0;
    }
  }

  .ticket-detail-container {


  }
}
