/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

