:host {
  display: block;
  position: relative;
  border-radius: 4px;
  padding: 24px;

  .assigned-to-container {
    display: flex;
    align-items: center;

    .mat-form-field {
      margin-left: 8px;
    }
  }

  .actions-container {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
