<h2>{{ticketUser.description}}</h2>
<div class="assigned-to-container">
    <h2>Assigned to:</h2>
    <mat-form-field appearance="fill">
        <mat-label>Select user:</mat-label>
        <mat-select [value]="ticketUser.user?.id" (selectionChange)="onAssignSelectChange($event)">
            <mat-option [value]="null"> -- None --</mat-option>
            <mat-option *ngFor="let user of (ticketsQuery.users$ | async)" [value]="user.id">
                {{user.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<h2>Completed: {{ticketUser.completed}}</h2>

<div class="actions-container">
    <button mat-flat-button
            color="primary"
            *ngIf="!ticketUser.completed"
            [disabled]="(ticketsQuery.isCompletingTicket$ | async)"
            (click)="completeTicket()">
        COMPLETE
    </button>
    <mat-icon *ngIf="ticketUser.completed" style="color: green">check</mat-icon>
</div>


